@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

.bg {
	background: url('https://images.unsplash.com/photo-1615554944533-8b6eca46b81b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1490&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: -30px;
	left: -30px;
	width: calc(100vw + 60px);
	height: calc(100vh + 60px);
	z-index: -1;
	filter: blur(70px);
}

.loading-text {
	font-size: 50px;
	color: #fff;
}
